.howwork {
  overflow: hidden;
  padding: 5rem 0;
  background-color: var(--section-color);
  .container {
    .headtitle,
    .headparagraph {
      color: var(--white-color);
      text-align: center;
    }
    .headtitle {
      text-transform: uppercase;
      position: relative;
      font-weight: bold;
      font-style: italic;
      &::before {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        position: absolute;
        content: 'How It Works?';
        top: -40px;
        left: 0;
        font-size: 4.375rem;
        font-style: italic !important;
        color: transparent;
        -webkit-text-stroke: 0.5px #ccc;
      }
    }
    .headparagraph {
      margin-top: 0.9375rem;
    }
    .boxs {
      margin-top: 2.5rem;
      .work {
        color: var(--white-color);
        padding: 1.875rem 0.9375rem;
        background-color: var(--black-color);
        border-radius: 0.75rem;
        -webkit-border-radius: 0.75rem;
        -moz-border-radius: 0.75rem;
        -ms-border-radius: 0.75rem;
        -o-border-radius: 0.75rem;
        text-align: center;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
        border: 2px solid var(--main-color);
        &:hover {
          transform: scale(1.1) !important;
          -webkit-transform: scale(1.1) !important;
          -moz-transform: scale(1.1) !important;
          -ms-transform: scale(1.1) !important;
          -o-transform: scale(1.1) !important;
          border: 2px solid var(--main-color);
}
        svg {
          color: white;
          position: relative;
          font-size: 3.75rem;
          background-color: var(--main-color);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          padding: 0.5rem;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
        }
        h5,
        p {
          margin-top: 0.75rem;
        }
        h5 {
          font-weight: bold;
        }
        p {
          color: var(--paragraph-color);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .headtitle::before {
    font-size: 1.875rem !important;
    top: -20px !important;
  }
}
