.error {
  overflow: hidden;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  padding: 7.5rem 0;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img {
      width: 9.375rem;
      height: 9.375rem;
    }
    span {
      font-size: 7.5rem;
      font-weight: bold;
      color: var(--second-color);
    }
  }
  .information {
    text-align: center;
    margin-top: 0.9375rem;
    h4 {
      font-size: 2.1875rem;
      font-weight: bold;
      color: var(--second-color);
    }
    p {
      margin-top: 0.75rem;
      font-size: 1.5625rem;
      color: var(--paragraph-color);
    }
    .buttons {
      margin-top: 1.875rem;
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      a {
        background-color: var(--second-color);
        color: var(--white-color);
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
        &:hover {
          background-color: #1313a7;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .error {
    .icon {
      img {
        width: 6.25rem;
        height: 6.25rem;
      }
      span {
        font-size: 5rem;
      }
    }
    .information {
      h4 {
        font-size: 1.375rem;
      }
      p {
        font-size: 1.125rem;
      }
    }
  }
}
