@import 'tailwindcss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #f15a24;
  --second-color: #000080;
  --section-color: #121229;
  --nav-color: #f7f7ff;
  --white-color: #ffffff;
  --black-color: #000;
  --paragraph-color: #646664;
  --main-transition: 0.5s;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}
.container {
  width: 92%;
  margin: auto;
}
::selection {
  background-color: var(--main-color);
  color: var(--white-color);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

