header {
  nav {
    background-color: var(--nav-color);
    img {
      display: block;
      margin: 50px 0;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .uls {
      padding: 2.1875rem;
      ul {
        li {
          a {
            text-transform: uppercase;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
          }
        }
      }
    }
    .contact {
      background-color: var(--main-color);
      padding: 0.625rem 2.1875rem;
      border-radius: 0.9375rem;
      -webkit-border-radius: 0.9375rem;
      -moz-border-radius: 0.9375rem;
      -ms-border-radius: 0.9375rem;
      -o-border-radius: 0.9375rem;
      font-weight: bold;
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
      &:hover {
        background-color: var(--second-color);
        color: white;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
  }
}
@media (max-width: 43.75rem) {
  header {
    nav {
      .uls {
        padding: 1.25rem;
      }
    }
  }
}
