.gallery {
  padding: 6.25rem 0;
  .container {
    h2 {
      font-size: 3.75rem;
      font-style: italic;
      font-weight: bold;
      color: var(--second-color);
      text-transform: uppercase;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 25%;
        height: 2px;
        background-color: var(--main-color);
        left: .625rem;
        bottom: -0.625rem;
      }
    }
  }
}
@media(max-width: 768px) {
  .gallery {
    .container {
      h2 {
        font-size: 1.5625rem;
      }
      h2 {
        position: relative;
        &::after {
          width: 50%;
        }
      }
    }
  }
}